<!DOCTYPE html>
<html>
<head>
  <title>Hemmingway</title>
  <%= stylesheet_link_tag    "hemmingway/application", media: "all" %>
  <%= stylesheet_link_tag    "//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css", media: "all" %>
  
  <%= javascript_include_tag "hemmingway/application" %>
  <%= javascript_include_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="col-md-12">
    <%= yield %>
  </div>
</div>

</body>
</html>
