<%= render layout: 'container' do %>
  <h1>Hemmingway: Your pages</h1>

      <% @pages.each do |page| %>
        <div class="row">
          <div class="col-md-6"><h2><%= link_to "#{@prefix}#{page.url}", parent_page_path(page) %></h2></div>
          <div class="col-md-6">
            <%= link_to 'Show', parent_page_path(page), class: 'btn btn-info pull-right' %>
            <%= link_to 'Edit', edit_hemmingway_page_path(page), class: 'btn btn-info pull-right' %>
            <%= link_to 'Destroy', parent_page_path(page), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger pull-right' %>
          </div>
        </div>
      <% end %>

  <%= link_to 'New Page', new_hemmingway_page_path, class: 'btn btn-success' %>
<% end %>
